{% extends "base.html" %}
{% block content %}
<section class="col-xs-12 col-md-10">
	<header class="subHeader">
		<a href="{% url 'cmanagement:faq' %}">Questions?</a>
		<a href="{% url 'cmanagement:teamcredits' %}">Team</a>
	</header>
	<div class="box">
		<h1>FAQ</h1>
		<br>
		<strong>Why is everything in english?</strong>
		<p>
			We started with english since it does not exclude foreign students from joining the courses.<br>
			When we find the time, a german version of the site will be offered as well.
		</p>
		<strong>Can I accredit my chosen course as <i>studium generale</i> or <i>AQuA</i>?</strong>
		<p>
			It depends:<br>
			If you are member of the faculty of computer science, you can only get AQuA by beeing a tutor.<br>
			Otherwise, studium generale is available for everyone, while AQuA is only recognized by certain faculties. If you are not sure, feel free to ask.
		</p>
		<strong>Who can I ask, if I have specific questions?</strong>
		<p>fredo [at] ifsr . de</p>
	</div>
</section>
{% endblock %}
