{% extends "base.html" %}
{% block content %}
<section class="col-xs-12 col-md-10">
	<header class="subHeader">
		<a href="{% url 'cmanagement:faq' %}">Questions?</a>
		<a href="{% url 'cmanagement:teamcredits' %}">Team</a>
	</header>
	<div class="box">
		{% if appointment_list %}
		<p>Appointments for course: {{selected_course.name}}</p>
		<table class="table table-striped">
			<tbody>
				<tr>
					<th>day</th>
					<th>time</th>
					<th>location</th>
					<th>tutor</th>
					<th>attendance</th>
					<th>aditional information</th>
					<th>enroll</th>
				</tr>
				{% for app in appointment_list %}
				<tr>
					<td>{{app.weekday}}</td>
					<td>{{app.lesson}}</td>
					<td>{{app.location}}</td>
					<td>
						<ul>
							{% for tutor in app.my_tutors.all %}
							{% if tutor.is_visible %}
							<li>
								<h6>
									<a href="{% url 'cmanagement:newEmailFormPart' tutor.id %}" title="write a message to {{tutor.name_of_user}}">
										{{ tutor.name_of_user }}
									</a>
								</h6>
							</li>
							{% endif %}
							{% endfor %}
						</ul>
					</td>
					<td>{{app.my_participants.all.count}}/{{app.attendance}}</td>
					<td>
						<a href="{% url 'cmanagement:showAppInfo' app.id %}">
							<span class="glyphicon glyphicon-info-sign" title="additional information"></span>
						</a>
					</td>
					{% if app.my_participants.all.count < app.attendance %}
					<td>
						<a href="{% url 'cmanagement:show_enroll' app.id %}">
							<span class="glyphicon glyphicon-ok-sign" title="enroll"></span>
						</a>
					</td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		{% if selected_course %}
		<p>Sorry, there are no appointments available yet for</p>
		<p>{{selected_course.name}}</p>
		<p>Please try again later.</p>
		{% else %}
		<p>Welcome to the enrollment page for programming courses by the IFSR of TU Dresden.</p>
		<p>Please click on the course which you want to register for to see the available dates.</p>
		{% endif %}
		{% endif %}
	</div>
</section>
{% endblock %}
