{% extends "base.html" %}
{% begin block %}
<section class="col-xs-12 col-md-10">
	<header class="subHeader">
		<a href="{% url 'cmanagement:faq' %}">Questions?</a>
		<a href="{% url 'cmanagement:teamcredits' %}">Team</a>
		<a href="{% url 'cmanagement:resetPW' %}">Reset Password</a>
		<a href="{% url 'cmanagement:Logout' %}">Logout</a>
		{% if mass_email %}
		<a href="{% url 'cmanagement:showCourseAppointments' recipient.id %}" ><span class="glyphicon glyphicon-chevron-left" title="back"></span></a>
		{% endif %}
	</header>
	<div class="box">
		{% if mass_email %}
		<form action="{% url 'cmanagement:sendmmailOrga' recipient.id %}" method="post">
			{% csrf_token %}
			<div>
				<p>message whole course: {{recipient.name}} </p>
				<label for="message">Message:</label>
				<textarea name="message" id="message" class="form-control" rows="5" required></textarea>
				<button class="btn btn-default" type="submit">send to all participants</button>
			</div>
		</form>
		{% else %}
		<form action="{% url 'cmanagement:sendmail' recipient.id %}" method="post">
			{% csrf_token %}
			<div>
				<p>recipent: {{recipient.name_of_user}} </p>
				<label for="InputMessage">Message:</label>
				<textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
				<button class="btn btn-default" type="submit">send</button>
			</div>
		</form>
		{% endif %}
	</div>
</section>
{% endblock %}
