{% extends "base_organizer.html" %}
{% block content %}
<section class="col-xs-12 col-md-10">
	<header class="subHeader">
		<a href="{% url 'cmanagement:faq' %}">Questions?</a>
		<a href="{% url 'cmanagement:teamcredits' %}">Team</a>
		<a href="{% url 'cmanagement:resetPW' %}">Reset Password</a>
		<a href="{% url 'cmanagement:Logout' %}">Logout</a>
	</header>
	<div class="box">
		<p>Welcome, Organizer.</p>
		<p>
			Please click on the course which you would like to see or edit.<br>
			Or click on a tutors name to write him or her a message.<br>
			You can also add or remove tutors if you like. Wow!
		</p>
	</div>
</section>
{% endblock %}
