{% extends "base.html" %}
{% block content %}
<section class="col-xs-12 col-md-10">
	<header class="subHeader">
		<a href="{% url 'cmanagement:faq' %}">Questions?</a>
		<a href="{% url 'cmanagement:teamcredits' %}">Team</a>
		<a href="{% url 'cmanagement:resetPW' %}">Reset Password</a>
		<a href="{% url 'cmanagement:Logout' %}">Logout</a>
		{% if show_not_add %}
		<a href="{% url 'cmanagement:showCourseAppointments' course.id %}" ><span class="glyphicon glyphicon-chevron-left" title="back"></span></a>
		{%else%}
		<a href="{% url 'cmanagement:showAppointmentPart' app.id %}" ><span class="glyphicon glyphicon-chevron-left" title="back"></span></a>
		{%endif%}
	</header>
	<div class="box">
		{% if show_not_add %}


		<p>{{course.name}}: {{app.weekday}}, {{app.lesson}}, {{app.location}}</p>
		<p>participants: {{app.my_participants.all.count}}/{{app.attendance}}</p>
		<br>
		{% if app.my_participants.all.count < app.attendance %}
		<p><a href="{% url 'cmanagement:showAddPart' app.id %}">
			add participant <span class="glyphicon glyphicon-plus" title="add appointment to this course"></span>
		</a> </p>
		{% endif %}
		{% if part_list %}

		<table class="table table-striped">
			<tbody>

				{% for part in part_list %}
				<tr>
					<td>{{part.s_number}}</td>
					<td>{{part.name_of_user}}</td>
					<td><a href="{% url 'cmanagement:newEmailFormOrga' part.id %}"><span class="glyphicon glyphicon-envelope" title="write message"></span></a></td>
					<td><a href="{% url 'cmanagement:deletePart' part.id app.id%}"><span class="glyphicon glyphicon-remove" title="remove participant"></span></a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{%else%}
		<p> no participants to show </p>
		{%endif%}
		{% else %}


		<form class="form-signin" role="form" action="{% url 'cmanagement:addPartDone' app.id %}" method="post">
			{% csrf_token %}
			<h1> {{app.my_course.name}}, on {{app.weekday}}/{{app.lesson}} at {{app.location}} </h1>
			<h2 class="form-signin-heading">Add new participant</h2>
			<label class="sr-only">s-number:</label>
			<input type="text" name="snumber" id="snumber" class="form-control" placeholder="s1234567" pattern="[s]{1}[0-9]{7}" autofocus>
			<label for="inputEmail" class="sr-only">Email address</label>
			<input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address">

			<div class="checkbox col-sm-10">
				<label class="control-label col-sm-2" >switch:</label>
				<div class="col-sm-10">
					<select name="radio" id="radio">
						<option value="r0">add by s-number</option>
						<option value="r1">add by e-mail</option>
					</select>
				</div>
			</div>
			<button class="btn btn-default" type="submit">Add Participant</button>
			<p><br></p>
		</form>
		{% endif %}
	</div>
</section>
{% endblock %}
