{% extends "base.html" %}
{% block content %}
<section class="col-xs-12 col-md-10">
	<header class="subHeader">
		<a href="{% url 'cmanagement:faq' %}">Questions?</a>
		<a href="{% url 'cmanagement:teamcredits' %}">Team</a>
	</header>
	<div class="box">

		<form action="{% url 'cmanagement:sendmailparticipant' recipient.id %}" method="post">
			{% csrf_token %}
			<div>
				<p>recipent: {{recipient.name_of_user}} </p>
				<label for="InputMessage">Message:</label>
				<textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
				<button class="btn btn-default" type="submit">send</button>
			</div>
		</form>
	</div>
</section>
{% endblock %}
