{% extends "base.html" %}
{% block content %}
<section class="col-xs-12 col-md-10">
	<header class="subHeader">
		<a href="{% url 'cmanagement:faq' %}">Questions?</a>
		<a href="{% url 'cmanagement:teamcredits' %}">Team</a>
	</header>
	<div class="box">
		<p>You have signed in sucessfully to<br><br></p>
		<p>course: {{selected_appointment.myCourse.name}},  appointment: {{selected_appointment.weekday}}/{{selected_appointment.lesson}}/{{selected_appointment.location}}</p>
	</div>
</section>
{% endblock %}
