{% extends "base_tutor.html" %}
{% block content %}
<section class="col-xs-12 col-md-10">
	<header class="subHeader">
		<a href="{% url 'cmanagement:faq' %}">Questions?</a>
		<a href="{% url 'cmanagement:teamcredits' %}">Team</a>
		<a href="{% url 'cmanagement:resetPW' %}">Reset Password</a>
		<a href="{% url 'cmanagement:Logout' %}">Logout</a>
	</header>
	<div class="box">
		<p>
			<a href="{% url 'cmanagement:tut' %}">
				<span class="glyphicon glyphicon-chevron-left"></span>back to main page
			</a>
		</p>
		{% if message %}
		<h1>{{message}} </h1>

		{%else%}
		<p> What exactly is the matrix? </p>
		{%endif%}
	</div>
</section>
{% endblock %}
